:root {
  --principal: #318c7a;
  --principalTrans: rgba(49, 140, 122, 0.5);
  --secundario: #92d8e8;
  --secundarioTrans: rgba(146, 216, 232, 0.5);
  --terciario: #045163;
  --terciarioTrans: rgba(4, 81, 99, 0.5);
  --letra: #e2ecec;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  width: 90vw;
  margin: auto;
  background-color: var(--principal);
}

.header-index {
  background-image: url('../img/new-perro2.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sombra {
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

#nav-externo {
  height: 15%;
}
.comentario{
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.globo{
  position: absolute;
  top: 35%;
  left: 70%;
  transform: translateX(-50%);
  padding: 15px;
  background-color: var(--terciarioTrans);
  border-radius: 70px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 70%;
  max-width: 450px;
}
.globo:before{
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: var(--terciarioTrans);
  border-radius: 30px;
  position: absolute;
  bottom: -65px;
  left: 370px;
  z-index: -10;
}
.globo:after{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: var(--terciarioTrans);
  border-radius: 25px;
  position: absolute;
  bottom: -100px;
  left: 400px;
  z-index: -10;
}
.header-texto {
  align-content: center;
  text-align: center;
  height: 25%;
  padding: 20px;
  border-radius: 10px;
}

.header-cuadro {
  background-color: var(--principalTrans);
  border-radius: 20px;
  width: 900px;
}
.header-cuadro h1{
  font-size: 3rem;
}
.inicio-button {
  color: var(--letra);
  padding: 0.5 rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

nav {
  top: 10px;
  background-color: var(--principal);
  color: var(--letra);
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: var(--letra);
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav a:hover {
  background-color: var(--secundario);
  border-radius: 5px;
}